<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/addad.css">
    <script src="../scripts/oglasi.js"></script>
    <script src="../scripts/addad.js"></script>
    <script src="../scripts/index.js"></script>
    <title>PetStudenjak</title>
</head>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 text-center">
                <a href="index.html">
                    <img src="../images/logo.jpg" alt="logo" id="logo_slika">
                </a>
            </div>
            <div class="col-md-1 col-sm-12 text-center" id="navbar_element">
                <a href="index.html" id="navbar_link">
                    Home
                </a>
            </div>
            <div class="col-md-1 col-sm-12 text-center" id="navbar_element">
                <div class="navbar_dropdown">
                    <a href="animals.html" class="navbar-link">
                        <button class="navbar_dropdown_button">Animals</button>
                    </a>
                    <div class="navbar_dropdown_content">
                        <a href="dogs.html" class="navbar_link">Dogs</a>
                        <a href="cats.html" class="navbar_link">Cats</a>
                        <a href="birds.html" class="navbar_link">Birds</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-12 text-center" id="navbar_element">
                <a href="lostpets.html" id="navbar_link">
                    Lost Pets
                </a>
            </div>
            <div class="col-md-1 col-sm-12 text-center" id="navbar_element">
                <a href="addad.html" id="navbar_link" class="active_link">
                    Add Ad
                </a>
            </div>
            <div class="col-md-1 col-sm-12 text-center" id="navbar_element">
                <a href="myaccount.html" id="navbar_link">
                    My Account
                </a>
            </div>
            <div class="col-md-1 col-sm-12 text-center" id="navbar_element">
                <a href="aboutus.html" id="navbar_link">
                    About Us
                </a>
            </div>
            <div class="offset-md-2 col-md-1 col-sm-12 text-center" id="navbar_element">
                <img src="../images/translate.png" alt="translate" width="30px" height="30px">
                &nbsp;
                <a href="addad_srpski.html" id="navbar_link" class="tekst_jezik">
                    Srpski
                </a>
            </div>
        </div>
    </div>
</header>


<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="addad.html" class="link_dizajn_jedan">Add ad</a></li>
        </ol>
    </nav>

    <div class="container-fluid" id="body">

        <div class="row" id="lost_a_pet">
            <div class="offset-md-2 col-md-8 col-sm-12 text-center">
                <h2>
                    <img src="../images/paw.jpg" width="10%" height="10%" alt="">
                    <br/>
                    Lost a pet?
                </h2>
                <div class="italic_text">
                    Please, fill out this form:
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12 text-center addad_error">
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12 text-center addad_success">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12 text-center">
                <input id="name" type="text" placeholder="Pet name..."><br/>
                <textarea id="description" cols="30" rows="6" placeholder="Description..."></textarea><br/>
                <input id="phone" type="tel" placeholder="Contact phone [+xxxxxxxxxxx(x)]..."><br/>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12 text-center">
                <button class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
       

    </div>
    
</body>



<footer>
    <div class="container-fluid">
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <a href="https://www.etf.bg.ac.rs">
                    <img src="../images/banner_1.png" width="100%" alt="" class="baner">
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 text-center">
                &#169; Copyright 2022.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                All rights reserved. Powered by the PetStudenjak.
            </div>
        </div>
    </div>
</footer>


</html>