#name {
    padding: 5px;
    margin: 10px;
}

#description {
    padding: 10px;
    margin: 10px;
}

#phone {
    padding: 5px;
    margin: 10px;
}

#submit {
    padding: 5px;
    margin: 10px;
}

#lost_a_pet {
    margin-bottom: 40px;
}