 .left{
    /* width: 50%; */
    text-align: left;
    font-weight: bold;
}

.right{
    /* width: 50%; */
    text-align: right;
} 

table{
    width: 100%;
}

hr {
    margin-left: 25%;
    width: 50%;
}