.left{
    text-align: left;
    font-weight: bold;
}

.leftCom{
    text-align: left; 
    /* color: cadetblue; */
}

.rightCom{
    text-align: right;
    /* color: cadetblue; */
}

.right{
    text-align: right;
} 

table{
    width: 100%;
}

.deleteClass{
    text-align: right;
}

#myaccount_ads {
    margin-top: 10px;
}

#myaccount_comments {
    margin-top: 50px;
}